<div class="container">
  <div class="hr"></div>
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      <div class="sidenav-container">
        <div class="sidenav-header">
          <h2>{{ myLastProject.name }} <small>- software project</small></h2>
        </div>
        <div class="board-info">
          <div *ngFor="let board of myBoard">
            <p class="board-name">Board - {{ board?.name }}</p>
            <div *ngFor="let iss of myIssue">
              <img [src]="iss.icon" alt="1" />
            </div>
            <div class="board-info-buttons">
              <button routerLink="/stepper/boards/edit/:id">
                <p class="board-info-button">+ Add Board</p>
              </button>
              <button routerLink="/stepper/boards/edit/:id">
                <p class="board-info-button">+ Add Issue</p>
              </button>
            </div>
            <div class="board-info-hr"></div>
          </div>
        </div>
      </div>
      <div>
        <p class="project-users">Project Users ---</p>
<!--        <div *ngFor="let user of usersData">-->
<!--          {{ user.totalCount }}-->
<!--          <ng-container *ngFor="let data of user.data">-->
<!--            <p>{{ data.email }}</p>-->
<!--          </ng-container>-->
<!--        </div>-->
      </div>
    </mat-sidenav>
    <mat-sidenav-content>
      <h1>Projects - {{ myLastProject.name }}</h1>

      <p class="abr">Abbreviation-{{ myLastProject.abbreviation }}</p>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon color="primary">menu</mat-icon>
      </button>

      <div class="columns">
        <div class="column">
          <p>My Task</p>
          <div class="column-hr"></div>
          <button type="text" class="task-button" routerLink="/task/add-task">
            Add Task
          </button>
        </div>

        <div *ngFor="let board of myBoard">
          <div class="all-columns">
            <ng-container *ngFor="let column of board.columns">
              <div class="column">
                <p>{{ column.taskStatus }}</p>
                <div class="column-hr"></div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <button routerLink="/stepper/boards/edit/:id">
        <p class="add-column_button">+ Add Column</p>
      </button>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
