<!-- <div class="container">
  <form [formGroup]="taskFormGroup">
    <div class="wrapper">
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input type="text" matInput placeholder="name" formControlName="name" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <input
          type="text"
          matInput
          placeholder="description"
          formControlName="description"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>IssueType Id</mat-label>
        <input
          type="number"
          matInput
          placeholder="issueTypeId"
          formControlName="issueTypeId"
        />
      </mat-form-field>

      <div formArrayName="taskProperty">
        <div
          *ngFor="
            let taskProperty of taskFormGroup.get('taskProperty')['controls'];
            let i = index
          "
          [formGroupName]="i"
        >
          <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input
              type="text"
              matInput
              placeholder="name"
              formControlName="name"
            />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Filed Name</mat-label>
            <input
              type="text"
              matInput
              placeholder="filedName"
              formControlName="filedName"
            />
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Value</mat-label>
            <input
              type="text"
              matInput
              placeholder="value"
              formControlName="value"
            />
          </mat-form-field>

          <mat-checkbox formControlName="isRequired">Is Required</mat-checkbox>
        </div>
      </div>

      <!-- <mat-form-field appearance="outline">
        <mat-label>Epic Id</mat-label>
        <input
          type="number"
          matInput
          placeholder="epicId"
          formControlName="epicId"
        />
      </mat-form-field> -->
<!-- 
      <mat-form-field appearance="outline">
        <mat-label>Board Id</mat-label>
        <input
          type="number"
          matInput
          placeholder="boardId"
          formControlName="boardId"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Board Column Id</mat-label>
        <input
          type="number"
          matInput
          placeholder="boardColumnId"
          formControlName="boardColumnId"
        />
      </mat-form-field>

      <mat-checkbox formControlName="isBacklog">Is Backlog</mat-checkbox>

      <mat-form-field appearance="outline">
        <mat-label>Priority</mat-label>
        <mat-select class="form-control" formControlName="priority">
          <mat-option *ngFor="let priority of priorityEnum" [value]="priority">
            {{ priority }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Task Status</mat-label>
        <mat-select class="form-control" formControlName="taskStatus">
          <mat-option *ngFor="let task of taskEnum" [value]="task">
            {{ task }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Assignee Id</mat-label>
        <input
          type="number"
          matInput
          placeholder="assigneeId"
          formControlName="assigneeId"
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Reporter Id</mat-label>
        <input
          type="number"
          matInput
          placeholder="reporterId"
          formControlName="reporterId"
        />
      </mat-form-field>
    </div>
  </form>

  <button (click)="submit()" mat-raised-button color="basic">Save</button>
</div>  -->
