.home {
  margin: 0 auto;
  width: 80rem;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  position: relative;
}

img {
  width: 40%;
  height: auto;
}

.abs-align {
  position: absolute;
  left: 50%;
  bottom: -12%;
  transform: translate(-50%, -50%);
}
