.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  column-gap: 0.5rem;
}

.container {
  display: flex;
  justify-content: space-between;
}
.mat-form-field.sized {
  width: 15rem;
  margin-top: 7px;
}
.add {
  margin-bottom: 1rem;
}

.btn-col {
  margin-top: 1rem;
}
.add {
  margin-top: 1rem;
}
.btn-up {
  position: relative;
}
.btn-up button {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.primary-button {
  margin-top: 10px;
  background-color: #779d82;
  color: #e8ebfc;
}
.warn-button {
  background-color: #d27569;
  color: #e8ebfc;
}
.next {
  margin-top: 30px;
}

mat-icon {
  margin-left: 1rem;
}
.add-board {
  margin-bottom: 12px;
}
button {
  margin-right: 10px;
}
mat-list {
  height: 10rem;
  width: 30rem;
  overflow: auto;
  border-bottom: 2px solid #504a90;
}
.scroll {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-top: 25px;
}

mat-label.label {
  color: #504a90;
  font-size: 1.4rem;
  font-weight: 500;
}

.mat-list-item:nth-child(1) {
  background-color: #504a90;
}

.mat-list-item span {
  letter-spacing: 1px;
  font-weight: 400;
}

.mat-list-item:nth-child(1) span {
  color: #fff;
}

.mat-list-item {
  border-bottom: 1px solid #d4d0fe;
  background-color: #f2f0f0;
}
mat-progress-bar {
  width: 15rem;
  margin-top: 15px;
}
