.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  column-gap: 0.5rem;
}

.mat-form-field.sized {
  width: 15rem;
  margin-top: 7px;
}
.add {
  margin-bottom: 1rem;
}

.btn-col {
  margin-top: 1rem;
}
.add {
  margin-top: 1rem;
}
.btn-up {
  position: relative;
}
.btn-up button {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.primary-button {
  margin-top: 10px;
  background-color: #779d82;
  color: #e8ebfc;
}
.warn-button {
  background-color: #d27569;
  color: #e8ebfc;
}
.next {
  margin-top: 30px;
}

mat-icon {
  margin-left: 1rem;
}
.add-board {
  margin-bottom: 12px;
}
button {
  margin-right: 10px;
}
