<form [formGroup]="boardFormGroup">
  <div class="wrapper">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input matInput placeholder="name" formControlName="name" />
      <mat-icon matSuffix>{{
        boardFormGroup.get("name").invalid && boardFormGroup.get("name").touched
          ? "mood_bad"
          : "sentiment_very_satisfied"
      }}</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>description</mat-label>
      <input matInput placeholder="Description" formControlName="description" />
      <mat-icon matSuffix>{{
        boardFormGroup.get("description").invalid &&
        boardFormGroup.get("description").touched
          ? "mood_bad"
          : "sentiment_very_satisfied"
      }}</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Column Name</mat-label>
      <input matInput placeholder="column" formControlName="column" />
      <mat-icon matSuffix>{{
        boardFormGroup.get("column").invalid &&
        boardFormGroup.get("column").touched
          ? "mood_bad"
          : "sentiment_very_satisfied"
        }}</mat-icon>
    </mat-form-field>

  </div>

  <button
    [disabled]="boardFormGroup.invalid"
    mat-raised-button
    color="primary"
    (click)="submit()"
  >
    Next
  </button>
</form>
