.column {
  width: 235px;
  height: 500px;
  background-color: #eaeaec;
  border-radius: 10px;
  position: relative;
  margin-top: 70px;
  gap: 20px;



  .task-button {
    color:  #46309f;
    font-style: italic;
    background-color: white;
    font-size: 10px;
    position: absolute;
    top: 60px;
    width: 50px;
    height: 30px;
    left: 75px;
    border-radius: 5px;
  }


  p {
    color: #46309f;
    position: absolute;
    top: 15px;
    left: 32%;
    font-weight:bold;
  }
}
.all-columns {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}


.column-hr {
  background-color: #46309f;
  width: 100%;
  height: 1px;
  position: absolute;
  top: 50px;
}
.add-column_button {
  font-size: 15px;
  margin-top: 50px;
  color: #46309f;
  font-style: italic;
  font-weight: bold;
}

